---
import BaseLayout from "src/layouts/BaseLayout.astro";
import "../styles/global.css";
// import { Card } from "@/Card";
import { CardCointainer } from "@/CardContainer";
---

<BaseLayout pageTitle="MySite">
  <!-- <div class="w-52 md:w-100"> -->
  <!-- <Card title="hello" footer="world" content="myContent" /> -->
  <CardCointainer client:load />
  <!-- <Accordion data={accordionData} client:idle /> -->
  <!-- </div> -->
</BaseLayout>
